@page
@model Storeii.Pages.OrderInfo.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Orders.OrderStatus" class="control-label"></label>
                <input asp-for="Orders.OrderStatus" class="form-control" />
                <span asp-validation-for="Orders.OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Date" class="control-label"></label>
                <input asp-for="Orders.Date" class="form-control" />
                <span asp-validation-for="Orders.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Time" class="control-label"></label>
                <input asp-for="Orders.Time" class="form-control" />
                <span asp-validation-for="Orders.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Customer_Id" class="control-label"></label>
                <select asp-for="Orders.Customer_Id" class ="form-control" asp-items="ViewBag.Customer_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Address_Id" class="control-label"></label>
                <select asp-for="Orders.Address_Id" class ="form-control" asp-items="ViewBag.Address_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Driver_Id" class="control-label"></label>
                <select asp-for="Orders.Driver_Id" class ="form-control" asp-items="ViewBag.Driver_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Orders.Location_Id" class="control-label"></label>
                <select asp-for="Orders.Location_Id" class ="form-control" asp-items="ViewBag.Location_Id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
