@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">About Storeii</h1>
    <p>Storeii is a fictional website that amalgamates multiple theoretical stores and puts them in the one place.</p>
    <p>It allows a user to purchase items from multiple storefronts and have them all delivered together by a local driver.</p>
    <p>After an order is placed, each store confirms their portion of the order independently, and a system in the backend keeps track.</p>
    <p>Once all stores have confirmed their portions, the order is marked as complete and a driver is notified of the order for delivery.</p>
</div>